* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--color-texto);
}

/*
#93c849 - Verde saludable (color base)
#f2f27a - Amarillo fresco (color de acento)
#f9f9f3 - Blanco suave (fondos)
#8a8a8a - Gris neutro (texto o elementos secundarios)
#6b8b23 - Verde oscuro natural (elementos importantes)
#e6d953 - Amarillo dorado (detalles llamativos)
*/
:root {
    --color-base: #93c849;
    --color-acento: #f2f27a;
    --color-fondo: #e0e0b9;
    --color-texto: #343434;
    --color-importantes: #6b8b23;
    --color-detalles: #e6d953;
  }

/* HEADER */
.header {
    height: 100vh;
    width: 100%;
}
.header__nav {
    display: flex;
    background-color: var(--color-detalles);
    width: 100%;
    height: 10%;
}
.header__nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    width: 80%;
    height: 10vh;
}
.header__nav-botones {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

/*BOTONES*/
.header__nav-botones button, .hero__container-boton, .body__sectionPublicaciones-boton, .body__sectionPublicaciones-blog, .main__boton {
    font-size: 1.1875rem;
    width: 100%;
    padding: .4rem .9rem;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}

.header__nav-botones-oscuro, .hero__container-boton, .body__sectionPublicaciones-boton, .main__boton {
    background-color: var(--color-importantes);
    color: var(--color-fondo);
    border: none;
}

.header__nav-botones-claro, .body__sectionPublicaciones-blog {
    background-color: transparent;
    border: .125rem solid var(--color-importantes);
    color: var(--color-importantes);
}

.header__nav-logo {
    padding-top: 0.4rem;
    height: 4rem;
}

/*HERO*/
.hero {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;
    background-color: var(--color-fondo);
}
.hero__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 2rem;
}
.hero__container div {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.hero__container p {
    font-size: 1.125rem;
}
.hero__container-boton {
    width: 40%;
}
.hero__container-img {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__container-img img {
    width: 70%;
    height: 70%;
    border-radius: 25px;
    object-fit: cover;
}

/*RECETAS DEL MES*/
.containerRecipe {
    background-color: var(--color-base);
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: .6rem;
    gap: .4rem;
}
.containerRecipe__container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: left;
}
.containerRecipe__card {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.containerRecipe__card img {
    border-radius: 100%;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
}

/* BODY */

/*PUBLICACIONES DESTACADAS*/
.body__sectionPublicaciones {
    background-color: var(--color-acento);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body__sectionPublicaciones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.body__sectionPublicaciones-container article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}
.body__sectionPublicaciones-container figure {
    text-align: center;
    width: 94%;
    height: 14rem;
}
.body__sectionPublicaciones-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: filter 1s;
}
.body__sectionPublicaciones-container img:hover {
    filter: grayscale(0%);
}
.body__sectionPublicaciones-container figcaption {
    position: relative;
    background-color: #e0e0b9;
}
.body__sectionPublicaciones-boton {
    position: absolute;
    bottom: 11.25rem;
    right: 3rem;
    width: 20%;
}
.body__sectionPublicaciones-descripcion {
    width: 93%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}
.body__sectionPublicaciones-descripcion h4 {
    font-size: 1.3rem;
}
.body__sectionPublicaciones-descripcion p {
    font-size: 1.2rem;
}

/*SECTION RECETAS*/
.main {
    background-color: var(--color-fondo);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.main__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
}
.main__container img {
    width: 11rem;
    height: 11rem;
    object-fit: cover;
    filter: sepia(100%);
    cursor: pointer;
}
.main__container img:hover {
    filter: sepia(0);
}
.main h2 {
    color: var(--color-importantes);
    font-weight: 700;
    font-size: 2rem;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    gap: 1rem;
    background-color: var(--color-texto);
}

.footer__container-logo {
    height: 34%;
    filter: drop-shadow(2px 2px 5px gold);
}

.footer__container-logo img {
    height: 100%;
}

.footer__nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer__nav a {
    text-transform: uppercase;
    color: var(--color-fondo);
    font-weight: 700;
}

.footer__separador {
    width: 25%;
    height: .1rem;
    background-color: var(--color-importantes);
}

.footer_copyright p {
    color: var(--color-fondo);
    font-weight: 600;
}